/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-push-blocks-push-call-to-action {
  background: linear-gradient(7deg, #FFA442 -133.4%, #FF4800 -2.34%, #000 112.39%);
  color: var(--color-white);
  position: relative;


  .element{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .container{
    position: relative;
    z-index: 2;
  }

  .block-title-small{
    margin-bottom: 16px;
  }

  .text{
    font-size: 24px;
    letter-spacing: -0.01em;
    margin-bottom: 32px;

    @media(max-width: 992px){
      font-size: 22px;
    }

    @media(max-width: 440px){
      font-size: 20px;
    }
  }

  .button{
    svg{
      path{
        fill: var(--color-white);
      }
    }
  }

  .image-wrapper{
    position: relative;

    .pic{
      position: absolute;
      left: 12px;
      right: 12px;
      bottom: -60px;

      @media(max-width: 1440px){
        bottom: -55px;
      }

      @media(max-width: 1200px){
        bottom: -50px;
      }

      @media(max-width: 992px){
        bottom: -45px;
      }

      @media(max-width: 767px){
        position: relative;
        bottom: 0;
        transform: translateY(40px);
      }

      @media(max-width: 575px){
        transform: translateY(35px);
      }

      @media(max-width: 440px){
        transform: translateY(30px);
      }

      img{
        width: 100%;
        height: auto;
      }
    }
  }
}
