/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-push-blocks-push-home-main-screen {
  min-height: 100vh;
  background-color: var(--color-gray-soft);
  position: relative;
  padding-top: 70px;
  padding-bottom: 30px;

  .content{
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .text-wrapper{
    position: relative;
    z-index: 2;
    width: calc(100% - 590px);
    padding-top: 48px;

    @media(max-width: 1400px){
      width: calc(100% - 540px);
    }

    @media(max-width: 1200px){
      width: calc(100% - 490px);
    }
  }

  .main-title{
    text-transform: uppercase;
    line-height: 1.5;
    font-size: 40px;
    letter-spacing: -0.02em;
    font-family: var(--font-unb);
    font-weight: 500;
    margin-bottom: 0;
    color: var(--color-black-text);

    @media(max-width: 1400px){
      font-size: 38px;
    }

    @media(max-width: 1200px){
      font-size: 36px;
    }

    @media(max-width: 575px){
      font-size: 34px;
    }

    @media(max-width: 440px){
      font-size: 32px;
    }
  }

  .main-title-slider{
    margin-bottom: 32px;

    p{
      margin-bottom: 0;
      text-transform: uppercase;
      line-height: 1.5;
      font-size: 40px;
      letter-spacing: -0.02em;
      font-family: var(--font-unb);
      font-weight: 500;
      color: var(--color-orange);

      @media(max-width: 1400px){
        font-size: 38px;
      }

      @media(max-width: 1200px){
        font-size: 36px;
      }

      @media(max-width: 575px){
        font-size: 34px;
      }

      @media(max-width: 440px){
        font-size: 32px;
      }
    }
  }

  .button{
    margin-bottom: 62px;

    svg{
      path{
        fill: var(--color-orange);
      }
    }
  }

  .items-list{
    display: flex;
    gap: 32px;
    margin: 0;
    padding: 0;

    .item{
      width: 146px;

      .svg-pic{
        width: 100%;
        height: auto;
      }
    }
  }

  .video-wrapper{
    position: relative;
    width: 590px;
    z-index: 1;

    @media(max-width: 1400px){
      width: 540px;
    }

    @media(max-width: 1200px){
      width: 490px;
    }

    video{
      position: relative;
      z-index: 2;
      width: 100%;
      height: auto;
    }

    .lighting{
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      width: 1169px;
      height: auto;
    }
  }


}
